
{% load static %}










<html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Yash Bhole</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<video autoplay muted loop id="myVideo">
  <source src="{% static 'images/Network.webm' %}" type="video/mp4">
</video>

<!-- Optional: some overlay text to describe the video -->
<div class="content">
  <br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div id="overlay">
				<div class="card card-body h-110  border-info" id="profile-wrapper">

					<img id="profile-pic" src="{% static 'images/yash.jpg' %}" >
					<hr>
					<h4>Hi I'm Yash!</h4>
					<p>I love coding, doing research and collaborating</p>
					</div>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>My First Job as a Developer</h4>
					<hr>
					<p>3 months after writing my first Hello World program on September 8th 2012 (While Studying in Centre Point School ,Nagpur) Thats when I realized that computers are the coolest things in the world . There are some little people who are really able to work for there passion, and I sure do appreciate the opportunity that has been given to me.</p>

					<p>I find web development to be a sector where a person can use both creativity and logic . I started by making a static website for a startup, now responsible for making my official institute alumni portal.</p>

					<p>From this you’ll see that I’m someone that jumps before I can talk myself out of doing something scary.</p>
					<hr>
					<ul class="social-links">
						<a href="https://yash-github-work.netlify.app/"><img class="icon-spacing-1" src="https://img.icons8.com/nolan/64/github.png"/></a>
						<a href="https://www.facebook.com/profile.php?id=100008405382614"><img class="icon-spacing-2" src="https://img.icons8.com/cute-clipart/64/000000/facebook-new.png"/></a>
						<a href="https://www.linkedin.com/in/yash-bhole-075889148/"><img class="icon-spacing-1" src="https://img.icons8.com/cute-clipart/64/000000/linkedin.png"/></a>
						<a href="https://twitter.com/yash_yashbhole"><img class="icon-spacing-2" src="https://img.icons8.com/cute-clipart/64/000000/twitter.png"/></a>
						<a href="https://www.instagram.com/future.tech.tribe/"><img class="icon-spacing-1" src="https://img.icons8.com/cute-clipart/64/000000/instagram-new.png"/></a>
						<a href="#"><img class="icon-spacing-2" src="https://img.icons8.com/cute-clipart/64/000000/discord-logo.png"/></a>

					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
                    <h5>My Experience as a Developer</h5>
                    <hr>
					<hr>
					<h6>Wordpress developer at Sparkle Solutions.</h6>
                    <p>Designed, built, and managed a Static website as a sole developer. One of my first formal web development projects. Helped a non-tech-company to bring their online presence.</p>
                    <hr>
                    <h6>Fullstack developer at Fouses Pvt Ltd</h6>
                    <p>Made a prototype of the Learning Management system. Also worked on other microservices of their projects. <strong> Awarded the best intern award.</strong></p>
                    <hr>
                    <h6>Volunteer internships in Microsoft,JP & Morgan Chase</h6>
					<p>Got a perception of a smart cooperate culture. Worked on technical as well as non-technical projects. Worked in python and Django in JP Morgan & learned about work ethics in Microsoft.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p><div class="alert alert-primary" role="alert">
                        Django+Python
                      </div>

                      <div class="alert alert-success" role="alert">
                        Current technical Affairs 👨‍💻🚀🛸👨‍💻
                      </div>
                      <div class="alert alert-danger" role="alert">
                        Frontend(HTML,CSS & JS)
                      </div>
                      <div class="alert alert-warning" role="alert">
                        SQL
                      </div>
                      <div class="alert alert-info" role="alert">
                        Unit testing & troubleshooting
                      </div>

                      <div class="alert alert-dark" role="alert">
                        Opensource(Git,Shell scripting,Shared hosting)
                      </div></p>
					<p>PS: Working on Django, MySql and Java(DS & Algo).</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>After almost three years of working in the Thakur College Technical team, the goal is to surround me with creative people, who love what they do and work on something which actually has an impact on the lives of people. </p>
				<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


  <!-- Use a button to pause/play the video with JavaScript -->
  <button id="myBtn" onclick="myFunction()">Pause</button>
</div>

</body>
</html>
